/* Created by: titus diceman 
 * Created on: Sep 2020
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: rgb(69, 207, 41);
}

h1 {
  background-color: rgb(80, 18, 180);
  color: rgb(21, 85, 202);
  padding: 40px;
  text-align: center;
}

p {
  background-color: rgb(85, 31, 146);
}